<%- include('./partials/header') %>

<table >
  <tr>

  <th>AIRLINE</th>
  <th>TAIL NUMBER</th> 
  <th>DEPARTURE TIME</th>
  <th>Arrival Airport</th>
  <th>Departure Airport</th>
  <th>Arrival Time</th>
  <th>Seat</th>
  <th>Price</th>

</tr>

<tr>
<td><%= flight.airline %></td>
<td><%= flight.flightNumber %></td>
<td><%= flight.departure %></td>
<td><%=flight.arrivalAirport%></td>
<td><%=flight.departureAirport%></td>
<td><%=flight.arrival%></td>
<td><%=flight.seat%></td>
<td><%=flight.price%></td>
</tr>
</table >
<h1>Ticket Number: <%= id%></h1>
<form action="/flights/<%= id %>/update?_method=PUT"
  method="POST">
<h3>Update Estimated Time Arrival</h3><br/>
<input type="datetime-local" id="meeting-time" name="arrival">
<button type="submit">update ETA </button>
</form>


  <%- include('./partials/footer') %>