<%- include('./partials/header') %>


<table>
    <tr>
        <th >AIRLINE</th>
        <th>TAIL NUMBER</th> 
        <th>DEPARTURE TIME</th>
        <th>Arrival Airport</th>
        <th>Departure Airport</th>
        <th>Arrival Time</th>
      </tr>
        <tr>
        <td><%=flight.airline%></td>
        <td><%=flight.flightNumber%></td>
        <td><%=flight.departure%></td>
        <td><%=flight.arrivalAirport%></td>
        <td><%=flight.departureAirport%></td>
        <td><%=flight.arrival%></td>
    </tr>
      </table>
</tr>
</table>

</br>
<form action="/flights/<%=id %>/edit">
<button type="Edit">Edit </button>
</form>
  <%- include('./partials/footer') %>